* {
  margin: 0;
  padding: 0;
}

hr {
  width: 77%;
  border: none;
  height: 1px;
  background-color: white;
  opacity: 30%;
  margin: auto;
  position: relative;
  top: 8px;
}

.main {
  display: flex;
}
