.sidebar {
  background-color: rgb(41, 48, 74);
  width: 66px;
  height: 660px;
  margin: 0;
  padding: 0;
}

.logo {
  text-align: center;
  position: relative;
  left: 13px;
  top: 6px;
  cursor: pointer;
}

.logo:hover {
  background-color: black;
  border-radius: 14px;
}

.siderbaroptions {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 24px;
  cursor: pointer;
}
